.card {
  border-radius: 30px;

  &-image {
    background-color: #ffffff;
  }

  img.card-image {
    border-radius: 30px 30px 0 0;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
  }
 
  .card-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.card-footer-author {
  display: flex;
  align-items: center;
}